@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.CargoViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="card-header">
    <a href="@Url.Action("Create")" class="ui violet button"><i class="fa fa-plus"></i> Novo</a>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:50px">
                            <a href="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" title="Editar">
                                <span style="margin-right:0px;" class="blue">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a id="@item.Id" onclick="abrirModalDeletar(this)" href="#" data-toggle="tooltip" title="Deletar">
                                <span style="margin-right:0px;" class="red">
                                    <i class="fa fa-minus font-white" aria-hidden="true"></i>
                                </span>
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details/"+item.Id)" class="removeLinkAzul">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details/"+item.Id)" class="removeLinkAzul">
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>

